html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: serif;
	color: white;
	background: black;
}

a {
	color: #ccc;
	text-decoration: none; /* remove underline from links */
}

a:hover {
	color: #fff;
}

h1 {
	font-size: 2.6rem; /* rem is used as unit for consistent text size across devices */
	margin: 0 0 0.4rem;
	padding: 2rem 2rem;
}

h2 {
	font-size: 2.6rem;
	text-align: center;
	color: #c36a48;
}

#down-arrow {
	/* make the arrow appear in an orange circle */
	background: #c36a48; /* orange colour used throughout the website */
	border-radius: 100%; /* 100% radius = circle */
	width: 2.4rem;
	height: 2.4rem;

	/* "Fix" the circle to the lower right corner at all times */
	position: fixed;
	right: 1rem;
	bottom: 1rem;

	/* center the arrow inside the circle */
	display: flex;
	align-items: center;
	justify-content: center;
}

#down-arrow img {
	width: 1.6rem;
	height: 1.6rem;
}

.icon {
	/* all svg icons used are black and need to be inverted to white */
	filter: invert(100%);
	width: 2rem;
}

.icon-grey {
	/* used for grey stars in reviews */
	/* the !important rule indicates the greater significance of a given element,
	 * so that this element will override all previous styling rules for this element */
	filter: invert(100%) brightness(50%) !important;
}

.button {
	color: white;
	background: #c36a48;
	font-size: 1rem; /* reset font size to website default */
	padding: 1rem 3rem;
	border-radius: 0.4rem; /* gives buttons round edges */

	/* links are inline by default so change to inline-block
	 * so links can have set width and appear as buttons
	 */
	display: inline-block !important;
}

.button:hover {
	filter: brightness(120%); /* buttons light up when under the mouse cursor */
}

/* class used to center and space out items in a HTML element */
.center-vertical {
	display: flex;
	align-items: end;
	justify-content: space-between;
}

/* used for desktop version to ensure the website doesn't span whole screen */
.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

header {
	margin-top: 1rem;
	border-bottom: 0.5rem solid #c36a48; /* line at the bottom of the header */
}

/* header > div > a is the box around the logo img
 * this rule is used to crop the logo */
header > div > a {
	height: 11rem; /* set the logo container to the right height */
	overflow: hidden; /* hide anything outside the box to "crop" the logo */
}

#nav-list {
	display: none; /* hide the navigation links in mobile view */
	list-style: none; /* remove dots from list */
	position: absolute; /* place menu relative to the window so it can overlap other elements*/
	background: #ddd;
	top: 11.5rem;
	right: 0rem;
	z-index: 9999; /* display above burger image */
	padding: 1rem 4rem 6rem 2rem; /* clockwise: top, right, bottom and right padding */
} 

#nav-list li {
	font-size: 110%;
	margin-right: 3rem;
	margin-bottom: 1rem;
}

#nav-list a {
	color: black; /* mobile menu has light background so links need to be dark */
}

#nav-icons {
	padding-bottom: 1.4rem;
	align-items: center; /* vertically align navbar icons */
}

#nav-icons > a {
	margin: 0 1rem; /* spacing between the icons */
}

#logo {
	height: 12rem;
	width: auto; /* maintain aspect ratio */
}

/* make horizontal line above checkout button lighter */
hr {
	border: 0;
	border-bottom: 1px solid #aaa;
	margin: 2rem 0 1rem;
}

#basket {
	text-align: center;
	display: none; /* keep hidden until user clicks cart icon */
	position: absolute; /* place the basket relative to the window so it can overlap other elements */
	z-index: 9998; /* prevents basket appearing under the burger image */
	color: black;
	background: #ddd;
	top: 12.5rem;
	right: 0rem;
	padding: 2rem;
}

/* small text that appears when basket is empty */
#basket small {
	display: inline-block;
	width: 10rem;
	padding: 0.4rem 0 4rem;
}

#basket-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#basket-list li {
	width: 100%;
	padding-bottom: 2rem;
	display: flex;
	align-items: center; /* align product text with the circle images */
}

#basket-list .image-circle {
	width: 3rem;
	height: 3rem;
	margin: 0 !important; /* remove auto margin to align circles to the left */
}

#basket-list .details {
	padding-left: 1rem; /* space between circle image and text */
}

#basket-list .details p {
	margin: 0;
	display: inline-block; /* make price appear next to product name */
}

#basket-list .button {
	/* when javascript copies the product from the menu to the basket, it includes the "ADD TO CART" button
	 * this rule hides the button from the basket */
	display: none !important;
}

#hero {
	height: 30rem;
	position: relative; /* ensures the absolute positions below work correctly */
}

#hero > .backdrop {
	position: absolute;
	z-index: 0; /* show below everything else */
	height: 30rem;
	width: 100%;
	background-image: url('images/burger3.jpg');
	background-position: 50% 80%; /* position the image so burger is visible */
	background-repeat: no-repeat;
	background-size: cover; /* and scale the burger to containing box */
	filter: brightness(75%) contrast(120%); /* darken the image to match original design */
}

/* the overlay contains the text and button on top of the burger image */
#hero > .overlay {
	position: absolute;
	z-index: 9900; /* show above the burger image but below the basket and menu */
	text-align: center;
}


#about p {
	text-align: center;
	font-size: 1.2rem;
	background: #444;
	border-radius: 0.4rem;
	margin: 0 2rem;
	padding: 1.4rem 1rem;
}

#thankyou p {
	text-align: center;
}

/* class used for elements that should appear as three columns on desktop
 * and stacked on top of each other on mobile */
main ul {
	padding: 0;
	list-style: none;

	/* flex rules to display items next to each other and on top if they become too large */
	display: flex;
	flex-wrap: wrap;
}

main li {
	text-align: center;
	border: 0.6rem solid white; /* white border around products and reviews */
	border-radius: 1rem;
	width: 100%; /* on mobile, set width to 100% so items overflow and become stacked */
	margin: 1rem;
	padding: 1rem 2rem;
}

/* container box to make images into circles */
.image-circle {
	width: 12rem;
	height: 12rem;
	margin: 0 auto; /* center images horizontally */
	border-radius: 100%; /* make box an actual circle */
	overflow: hidden; /* hide the image outside the circle */
}

.image-circle img {
	width: 100%; /* fit the images into the circle */
}

#review article {
	text-align: center;
}

#stars > * {
	display: inline;

	/* the original icons are monochrome so a sepia filter needs to be used to give them colour
	 * and then other filters are used to shift the stars into a bright yellow colour */
	filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(30deg) brightness(120%) contrast(160%);
}

.map {
	/* trim the map to correct height */
	height: 40rem;
	overflow: hidden;

	background-image: url('images/map.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

form {
	max-width: 30rem;
	padding: 0 4rem;
	margin: 2rem auto;
	text-align: center;
}

form > * {
	margin-bottom: 1.6rem;
}

.input-box {
	border: 1px solid #444;
	border-radius: 0.4rem;
	padding: 0.6rem;

	/* align icon with the input box */
	display: flex;
	align-items: center;
}

.input-box input {
	width: 100%;
	margin-left: 1rem;
	color: white;
	font-family: serif;
	font-size: 1.6rem;

	/* hide the actual input box so it looks like part of the surrounding box */
	background: none;
	border: 0;
}

/* following rules apply only to desktop version of the website */
@media all and (min-width: 1024px) {
	/* navigation bar links need to be light and next to each other (inline) */
	#nav-list a { color: #ccc !important; }
	#nav-list a:hover { color: #fff !important; }
	#nav-list li { display: inline-block !important; }

	#nav-icons a:last-child { display: none; } /* hide the menu icon when not on mobile */

	#about p { font-size: 1.6rem; } /* slightly enlarge the about us text */

	/* undo the absolute positioning of the mobile menu */
	#nav-list { 
		display: block;
		padding: 0 !important;
		background: black;
		position: inherit; /* revert to default position */
	}

	/* adjust the size and position of the hamburget text */
	h1 { 
		font-size: 3rem !important;
		padding: 4rem 14rem 0.4rem !important;
	}
	
	/* rules to set the width of the products and reviews in desktop version */
	main li {
		flex-basis: 0%; /* ignore any previous width */
		flex-grow: 1; /* fill any remaining remaining space */
		width: 33.33%; /* set a fixed width to a third of the page */
		margin: 0 1rem 1rem; /* top, side and bottom spacing */
	}
}	
